@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 800px;
    max-width: 80%;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    padding: 20px;
    box-shadow: 0 0 20px 2px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #cceeff;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 0 8px;
    margin: 10px;
    padding: 5px 10px;
    outline: none;
    text-decoration: none;
}

.btn:hover {
    border-color: rgb(95, 119, 255);
}

.home {
    text-align: center;
}