@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    width: 800px;
    max-width: 80%;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    padding: 20px;
    box-shadow: 0 0 20px 2px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #cceeff;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 0 8px;
    padding: 5px 10px;
    margin: 10px;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.button:hover {
    border-color: rgb(95, 119, 255);
    transition: 200ms;
    cursor: pointer;
}

#submit-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}