@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --normal: #cceeff;
    --wrong: #ff4d4d;
    --correct: #80ff80;
}

/* Body Section */

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 800px;
    max-width: 80%;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    padding: 20px;
    box-shadow: 0 0 20px 2px;
}

.welcome-page {
    text-align: center;
}

.welcome-page h2 {
    padding: 0 0 20px 0;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.buttons {
    --backcolor: var(--normal);
    background-color: var(--normal);
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 0 8px;
    padding: 5px 10px;
    outline: none;
}

.buttons:hover {
    border-color: rgb(95, 119, 255);
}

.buttons.correct {
    background-color: var(--correct);
}

.buttons.wrong {
    background-color: var(--wrong);
}

.start-button, .next-question {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

